---
import { getCollection, getEntry, render, type CollectionEntry } from "astro:content";
import CaseStudySection from "../../../components/portfolio/CaseStudySection.astro";
import ExternalResources from "../../../components/portfolio/ExternalResources.astro";
import PortfolioHeader from "../../../components/portfolio/PortfolioHeader.astro";
import CtaBanner from "../../../components/sections/CtaBanner.astro";
import MainLayout from "../../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const portfolioItems = await getCollection("portfolioSvCollection");
  return portfolioItems.map((item) => ({
    params: { slug: item.id },
    props: { item },
  }));
}

type Props = {
  item: CollectionEntry<"portfolioSvCollection">;
};

const { item } = Astro.props;
const client = await getEntry("clientsCollection", item.data.client.id);
const { Content } = await render(item);
const dominantColor = client?.data.dominantColor || "oklch(0.637 0.237 25.331)";
---

<MainLayout
  title={item.data.title}
  description={item.data.description}
  article={true}
  datePublished={item.data.date}
  dateModified={item.data.date}
>
  <article class="flex flex-col gap-8 font-serif" style={`--dominant-color: ${dominantColor}`}>
    <PortfolioHeader item={item} client={client} dominantColor={dominantColor} />

    <p class="text-sm font-light text-stone-700 selection:bg-red-300 selection:text-red-800">
      {item.data.description}
    </p>

    {
      item.data.type === "case-study" && (
        <CaseStudySection content={item.data.content} dominantColor={dominantColor} />
      )
    }

    <hr class="border-stone-300" />
    <section class="mt-8 selection:bg-red-300 selection:text-red-800">
      <div class="prose prose-stone max-w-none text-sm font-light text-stone-700">
        <Content />
      </div>
    </section>

    <ExternalResources links={item.data.links} />

    <CtaBanner
      title="Let's create something amazing together"
      description="Inspired by this project? I'm always excited to collaborate on new creative challenges. Whether you need a similar solution or something completely different, let's discuss how we can bring your vision to life."
      buttonText="Start a conversation"
      pricingText="See pricing"
    />
  </article>
</MainLayout>
