---
import { getCollection, render, type CollectionEntry } from "astro:content";
import Metadata from "../../components/legal/Metadata.astro";
import RelatedDocuments from "../../components/legal/RelatedDocuments.astro";
import CtaBanner from "../../components/sections/CtaBanner.astro";
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const legalItems = await getCollection("legalEnCollection");
  return legalItems.map((item) => ({
    params: { slug: item.id },
    props: { item, allLegalItems: legalItems },
  }));
}

type Props = {
  item: CollectionEntry<"legalEnCollection">;
  allLegalItems: CollectionEntry<"legalEnCollection">[];
};

const { item, allLegalItems } = Astro.props;
const { Content } = await render(item);
const audienceColor =
  item.data.audience === "B2B" ? "blue" : item.data.audience === "B2C" ? "pink" : "purple";
---

<MainLayout
  title={item.data.title}
  description={item.data.description}
  article={true}
  datePublished={item.data.publishedDate}
  dateModified={item.data.lastEdited}
>
  <article class="space-y-8 font-serif" aria-labelledby="article-title">
    <header class="space-y-6 selection:bg-red-300 selection:text-red-800">
      <span
        class="inline-block rounded-full border border-stone-500 px-3 py-1 font-mono text-xs font-light text-stone-600"
        aria-label={`Document type: ${item.data.documentType}`}
      >
        {item.data.documentType}
      </span>
      <h1
        id="article-title"
        class="text-4xl font-light break-words text-stone-900 italic sm:text-6xl"
      >
        {item.data.title}
      </h1>
    </header>

    <Metadata item={item} audienceColor={audienceColor} />

    <hr class="border-stone-300" aria-hidden="true" />

    <section
      class="prose prose-stone prose-a:text-red-500 prose-a:underline prose-a:decoration-dashed prose-a:decoration-from-font prose-a:underline-offset-4 prose-a:hover:bg-red-500 prose-a:hover:text-stone-50 prose-a:active:opacity-75 mt-8 max-w-none text-sm font-light text-stone-700 selection:bg-red-300 selection:text-red-800"
      aria-label="Document content"
    >
      <div>
        <Content />
      </div>
    </section>

    <hr class="border-stone-300" aria-hidden="true" />

    <RelatedDocuments docId={item.id} item={item} allLegalItems={allLegalItems} />

    <CtaBanner
      title="Got any questions?"
      description=`Did the ${item.data.title} leave you with unanswered questions? That's okay; it happens from time to time! You're always welcome to contact me, and I'll do my best to explain and clarify any questions or concerns you may have.`
      buttonText="Contact me"
      pricingText="Send an email"
      pricingLink=`mailto:legal@newgent.digital?subject=Legal inquiry: ${item.data.title}`
      aria-label="Contact section"
    />
  </article>
</MainLayout>
