---
import { Image, Picture } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";

const translations = {
  en: {
    learn_more: "Learn more",
    view_case_study: "View {title} portfolio case study",
    category: "Category: {category}",
  },
  sv: {
    learn_more: "Läs mer",
    view_case_study: "Visa {title} portföljfallstudie",
    category: "Kategori: {category}",
  },
};

const { post, client, currentLocale } = Astro.props;
---

<a
  href={getRelativeLocaleUrl(currentLocale, `/portfolio/${post.id}`)}
  class="group block h-full transition active:scale-95"
  aria-label={translations[Astro.currentLocale].view_case_study.replace("{title}", post.data.title)}
>
  <article
    class="group-ctive:border-red-500 relative flex h-full flex-col overflow-hidden rounded-lg border border-stone-300 bg-amber-50 transition group-hover:-translate-y-1 group-hover:border-red-500 group-hover:shadow-[0_4px_4px_rgb(0,0,0,0.05)] group-active:shadow-[0_4px_4px_rgb(0,0,0,0.05)]"
    role="article"
    aria-labelledby={`title-${post.id}`}
  >
    <figure class="relative overflow-hidden" role="figure">
      {
        post.data.featured && (
          <figcaption
            class="absolute top-4 right-4 z-20 text-xl text-red-500 select-none"
            aria-hidden="true"
          >
            ★
          </figcaption>
        )
      }
      <span
        class="absolute top-4 left-4 z-20 rounded-full border border-stone-500 bg-amber-50 px-2 py-1 text-xs font-light text-stone-700 group-hover:border-red-500 group-hover:text-red-700"
        aria-label={translations[Astro.currentLocale].category.replace(
          "{category}",
          post.data.category
        )}
      >
        {post.data.category}
      </span>
      <div class="relative">
        <div
          class="absolute inset-0 z-10 bg-gradient-to-t from-black/50 to-transparent"
          aria-hidden="true"
        >
        </div>
        <Picture
          src={post.data.featuredImage}
          alt={post.data.featuredImageAlt}
          widths={[320, 640, 960, 1280]}
          sizes="(max-width: 768px) 100vw, (max-width: 1024px) 50vw, 33vw"
          class="h-48 w-full object-cover transition group-hover:scale-105"
          formats={["avif", "webp", "jpeg"]}
        />
      </div>
      {
        client?.data.logo && (
          <Image
            src={client.data.logo}
            alt={`${client.data.name} logo`}
            class="absolute right-4 bottom-4 z-10 h-auto w-16 opacity-75"
            aria-hidden="true"
          />
        )
      }
    </figure>
    <section class="flex flex-1 flex-col p-4">
      <header>
        <h2
          class="mb-2 font-serif text-xl text-stone-900 italic underline decoration-dashed decoration-from-font underline-offset-4 group-hover:text-red-500"
          id={`title-${post.id}`}
        >
          {post.data.title}
        </h2>
      </header>
      <p class="line-clamp-2 text-sm font-light text-stone-600">
        {post.data.description}
      </p>
    </section>
    <footer
      class="mt-auto flex flex-wrap items-center justify-between border-t border-stone-200 p-4 text-stone-500"
    >
      <time class="font-mono text-sm font-light" datetime={new Date(post.data.date).toISOString()}>
        {new Date(post.data.date).toLocaleDateString()}
      </time>
      <div class="flex items-center justify-end gap-2 group-hover:text-red-500">
        <span class="underline decoration-dashed decoration-from-font underline-offset-4">
          {translations[Astro.currentLocale].learn_more}
        </span>
        <div
          class="font-mono text-sm font-light whitespace-nowrap transition group-hover:translate-x-0.5"
          aria-hidden="true"
        >
          ->
        </div>
      </div>
    </footer>
  </article>
</a>
