---
const translations = {
  en: {
    social_media: "Social Media",
  },
  sv: {
    social_media: "Sociala medier",
  },
};

const { socialLinks } = Astro.props;
---

<>
  <h3 class="mt-4 font-serif text-2xl font-light text-stone-900 italic">
    {translations[Astro.currentLocale].social_media}
  </h3>
  <nav>
    <ul class="flex flex-wrap gap-4">
      {
        socialLinks.twitter && (
          <li>
            <a
              href={socialLinks.twitter}
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center gap-2 text-sm text-stone-700 underline decoration-stone-500 decoration-dashed decoration-from-font underline-offset-4 selection:bg-stone-300 selection:text-stone-700 hover:bg-stone-500 hover:text-stone-100 hover:no-underline active:opacity-50"
            >
              Twitter / X
            </a>
          </li>
        )
      }
      {
        socialLinks.linkedin && (
          <li>
            <a
              href={socialLinks.linkedin}
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center gap-2 text-sm text-stone-700 underline decoration-blue-500 decoration-dashed decoration-from-font underline-offset-4 selection:bg-blue-300 selection:text-blue-700 hover:bg-blue-500 hover:text-blue-100 hover:no-underline active:opacity-50"
            >
              LinkedIn
            </a>
          </li>
        )
      }
      {
        socialLinks.instagram && (
          <li>
            <a
              href={socialLinks.instagram}
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center gap-2 text-sm text-stone-700 underline decoration-pink-500 decoration-dashed decoration-from-font underline-offset-4 selection:bg-pink-300 selection:text-pink-700 hover:bg-pink-500 hover:text-pink-100 hover:no-underline active:opacity-50"
            >
              Instagram
            </a>
          </li>
        )
      }
      {
        socialLinks.facebook && (
          <li>
            <a
              href={socialLinks.facebook}
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center gap-2 text-sm text-stone-700 underline decoration-sky-500 decoration-dashed decoration-from-font underline-offset-4 selection:bg-sky-300 selection:text-sky-700 hover:bg-sky-500 hover:text-sky-100 hover:no-underline active:opacity-50"
            >
              Facebook
            </a>
          </li>
        )
      }
    </ul>
  </nav>
</>
