---
import { Image, Picture } from "astro:assets";
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import PhArrowSquareOutDuotone from "../../../components/icons/PhArrowSquareOutDuotone.astro";
import PhHeartDuotone from "../../../components/icons/PhHeartDuotone.astro";
import IconPhSparkleDuotone from "../../../components/icons/PhSparkleDuotone.astro";
import CtaBanner from "../../../components/sections/CtaBanner.astro";
import MainLayout from "../../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const clients = await getCollection("clientsCollection");
  return clients.map((client) => ({
    params: { slug: client.id },
    props: { client },
  }));
}

const { client } = Astro.props;
const { data } = client;
const dominantColor = data.dominantColor || "oklch(0.637 0.237 25.331)";

// Get portfolio posts for this client
const portfolioPosts = await getCollection("portfolioSvCollection").then((posts) =>
  posts
    .filter((post) => post.data.client.id === client.id)
    .sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
);
---

<MainLayout title={data.name} description={data.description.sv}>
  <main class="flex flex-col gap-12 font-serif" style={`--dominant-color: ${dominantColor}`}>
    <header
      class="flex flex-col-reverse justify-between gap-6 selection:bg-[var(--dominant-color)] selection:text-[color-mix(in_oklab,var(--dominant-color),white_70%)] sm:flex-row sm:items-center sm:gap-12"
    >
      <Image src={data.logo} alt={data.name} class="h-auto max-h-[100px] w-auto max-w-[200px]" />
      <h1
        class="max-w-md text-4xl font-light break-words text-stone-900 italic sm:text-right sm:text-6xl"
      >
        {data.name}
      </h1>
    </header>

    {
      data.subcontracted && (
        <aside class="relative rounded-lg border border-stone-300 bg-amber-50 p-6 text-sm font-light text-stone-700 selection:bg-[var(--dominant-color)] selection:text-[color-mix(in_oklab,var(--dominant-color),white_70%)]">
          <div class="absolute -top-3 left-4 flex h-6 w-6 items-center justify-center rounded-full border border-stone-300 bg-amber-50 text-[var(--dominant-color)]">
            <PhHeartDuotone class="h-4 w-4" />
          </div>
          <h3 class="mb-2 font-serif text-xl font-light text-stone-900 italic">
            Samarbetsmeddelande
          </h3>
          <p class="leading-relaxed">
            Detta uppdrag genomfördes genom ett entreprenadavtal. Jag är glad över att ha bidragit
            till projektet som en del av ett större samarbete, men på grund av avtalets natur får
            jag eventuellt inte dela med mig av några detaljer eller skapa projekt för denna kund.
          </p>
        </aside>
      )
    }

    <div class="flex flex-col gap-8">
      <article
        class="flex flex-col gap-4 rounded-lg border border-stone-300 bg-amber-50 p-6 selection:bg-[var(--dominant-color)] selection:text-[color-mix(in_oklab,var(--dominant-color),white_70%)]"
      >
        <h2 class="font-serif text-2xl font-light text-stone-900 italic">Om {data.name}</h2>
        <p class="text-sm leading-relaxed font-light text-stone-700">{data.description.sv}</p>
        {
          data.websiteUrl && (
            <a
              href={data.websiteUrl}
              target="_blank"
              rel="noopener noreferrer"
              class="inline-flex w-full items-center justify-center gap-2 rounded-md border bg-[var(--dominant-color)] px-4 py-2 text-sm font-medium text-stone-50 transition duration-200 hover:opacity-75 active:scale-95"
            >
              Besök {data.websiteUrl.replace(/^(https?:\/\/)?(www\.)?|\/$/g, "")}
              <PhArrowSquareOutDuotone class="h-4 w-4" />
            </a>
          )
        }
        {
          data.socialLinks && (
            <>
              <h3 class="mt-4 font-serif text-2xl font-light text-stone-900 italic">
                Sociala medier
              </h3>
              <nav>
                <ul class="flex flex-wrap gap-4">
                  {data.socialLinks.twitter && (
                    <li>
                      <a
                        href={data.socialLinks.twitter}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="flex items-center gap-2 text-sm text-stone-700 underline decoration-stone-500 decoration-dashed decoration-from-font underline-offset-4 selection:bg-stone-300 selection:text-stone-700 hover:bg-stone-500 hover:text-stone-100 hover:no-underline active:opacity-50"
                      >
                        Twitter / X
                      </a>
                    </li>
                  )}
                  {data.socialLinks.linkedin && (
                    <li>
                      <a
                        href={data.socialLinks.linkedin}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="flex items-center gap-2 text-sm text-stone-700 underline decoration-blue-500 decoration-dashed decoration-from-font underline-offset-4 selection:bg-blue-300 selection:text-blue-700 hover:bg-blue-500 hover:text-blue-100 hover:no-underline active:opacity-50"
                      >
                        LinkedIn
                      </a>
                    </li>
                  )}
                  {data.socialLinks.instagram && (
                    <li>
                      <a
                        href={data.socialLinks.instagram}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="flex items-center gap-2 text-sm text-stone-700 underline decoration-pink-500 decoration-dashed decoration-from-font underline-offset-4 selection:bg-pink-300 selection:text-pink-700 hover:bg-pink-500 hover:text-pink-100 hover:no-underline active:opacity-50"
                      >
                        Instagram
                      </a>
                    </li>
                  )}
                  {data.socialLinks.facebook && (
                    <li>
                      <a
                        href={data.socialLinks.facebook}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="flex items-center gap-2 text-sm text-stone-700 underline decoration-sky-500 decoration-dashed decoration-from-font underline-offset-4 selection:bg-sky-300 selection:text-sky-700 hover:bg-sky-500 hover:text-sky-100 hover:no-underline active:opacity-50"
                      >
                        Facebook
                      </a>
                    </li>
                  )}
                </ul>
              </nav>
            </>
          )
        }
      </article>
    </div>

    {
      portfolioPosts.length > 0 && (
        <section class="flex flex-col gap-8">
          <header class="flex items-center justify-between">
            <h2 class="text-3xl font-light text-stone-900 italic">Related Works</h2>
            <IconPhSparkleDuotone class="h-8 w-8 text-[var(--dominant-color)]" />
          </header>
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            {portfolioPosts.map((post) => (
              <a
                href={getRelativeLocaleUrl(`${Astro.currentLocale}`, `/portfolio/${post.id}`)}
                class="group block h-full"
              >
                <article class="relative flex h-full flex-col overflow-hidden rounded-lg border border-stone-300 bg-amber-50 transition duration-200 selection:bg-[var(--dominant-color)] selection:text-[color-mix(in_oklab,var(--dominant-color),white_70%)] hover:-translate-y-1 hover:border-[var(--dominant-color)] hover:drop-shadow-[0_4px_4px_rgb(0,0,0,0.05)]">
                  <figure class="relative overflow-hidden">
                    {post.data.featured && (
                      <figcaption class="absolute top-4 right-4 z-10 text-xl text-[var(--dominant-color)] select-none">
                        ★
                      </figcaption>
                    )}
                    <span class="absolute top-4 left-4 z-10 rounded-full border border-stone-500 bg-amber-50 px-2 py-1 text-xs font-light text-stone-700 transition duration-200 group-hover:border-[var(--dominant-color)] group-hover:text-[var(--dominant-color)]">
                      {post.data.category}
                    </span>
                    <Picture
                      src={post.data.featuredImage}
                      alt={post.data.featuredImageAlt}
                      widths={[400, 800, 1200]}
                      sizes="(max-width: 640px) 100vw, 50vw"
                      formats={["avif", "webp", "jpeg"]}
                      class="h-48 w-full object-cover transition duration-200 select-none group-hover:scale-105"
                    />
                  </figure>
                  <div class="flex flex-1 flex-col p-4">
                    <header>
                      <h2 class="mb-2 font-serif text-xl text-stone-900 italic underline decoration-dashed decoration-from-font underline-offset-4 group-hover:text-[var(--dominant-color)]">
                        {post.data.title}
                      </h2>
                    </header>
                    <p class="line-clamp-2 text-sm font-light text-stone-600">
                      {post.data.description}
                    </p>
                  </div>
                  <footer class="mt-auto flex flex-row flex-wrap items-center justify-between border-t border-stone-200 p-4 text-stone-500">
                    <time
                      class="font-mono text-sm font-light text-stone-500"
                      datetime={new Date(post.data.date).toISOString()}
                    >
                      {new Date(post.data.date).toLocaleDateString()}
                    </time>
                    <div class="flex items-center justify-end gap-2 group-hover:text-[var(--dominant-color)]">
                      <span class="underline decoration-dashed decoration-from-font underline-offset-4">
                        Learn more
                      </span>
                      <div class="font-mono text-sm font-light whitespace-nowrap transition duration-200 select-none group-hover:translate-x-0.5">
                        ->
                      </div>
                    </div>
                  </footer>
                </article>
              </a>
            ))}
          </div>
        </section>
      )
    }

    <CtaBanner
      title="Redo att börja samarbeta?"
      description=`${data.name} är nöjda med vårt samarbete. Vad hindrar oss från att bli nästa samarbetsduo? Låt oss börja diskutera dina idéer och projekt för att se vad vi kan skapa tillsammans!`
      buttonText="Skicka ett meddelande"
      pricingText="Se priser"
    />
  </main>
</MainLayout>
