---
import { Image } from "astro:assets";
import { GIT_HASH } from "astro:env/client";
import { getRelativeLocaleUrl } from "astro:i18n";
import ImgAvatar from "../../assets/images/avatar.jpeg";

const translations = {
  en: {
    title: "Photographer & Designer",
    alt: "Portrait of William Hallin",
    navTitle: "Explore",
    home: "home",
    portfolio: "portfolio",
    clients: "clients",
    contact: "contact",
    blog: "blog",
    legal: "legal",
    footer_label: "Website Footer",
    navigation_label: "Website Navigation",
    contact_label: "Contact Information",
    social_label: "Social Media Links",
    github_label: "View source code on GitHub (opens in new window)",
    newWindow_label: "opens in new window",
  },
  sv: {
    title: "Fotograf & Designer",
    alt: "Porträtt av William Hallin",
    navTitle: "Utforska",
    home: "hem",
    portfolio: "portfölj",
    clients: "kunder",
    contact: "kontakt",
    blog: "blogg",
    legal: "juridik",
    footer_label: "Webbplatsens sidfot",
    navigation_label: "Webbplatsens navigering",
    contact_label: "Kontaktinformation",
    social_label: "Sociala medier länkar",
    github_label: "Visa källkod på GitHub (öppnas i nytt fönster)",
    newWindow_label: "öppnas i nytt fönster",
  },
};

const navLinks = [
  { path: "/", label: `/${translations[Astro.currentLocale].home}` },
  { path: "portfolio", label: `/${translations[Astro.currentLocale].portfolio}` },
  { path: "clients", label: `/${translations[Astro.currentLocale].clients}` },
  { path: "contact", label: `/${translations[Astro.currentLocale].contact}` },
  { path: "faq", label: "/faq" },
  { path: "blog", label: `/${translations[Astro.currentLocale].blog}` },
  { path: "legal", label: `/${translations[Astro.currentLocale].legal}` },
];

const socialLinks = [
  {
    href: "mailto:william@hallin.media?subject=Hey!",
    label: "mailto:",
    classes: {
      base: "decoration-amber-500 selection:bg-amber-300 selection:text-amber-700",
      hover: "hover:bg-amber-500 hover:text-amber-100",
      active: "active:bg-amber-500 active:text-amber-100",
    },
  },
  {
    href: "tel:+46706159279",
    label: "tel:",
    classes: {
      base: "decoration-red-500 selection:bg-red-300 selection:text-red-700",
      hover: "hover:bg-red-500 hover:text-red-100",
      active: "active:bg-red-500 active:text-red-100",
    },
  },
  {
    href: "https://www.instagram.com/williamhallinn",
    label: "instagram",
    classes: {
      base: "decoration-pink-500 selection:bg-pink-300 selection:text-pink-700",
      hover: "hover:bg-pink-500 hover:text-pink-100",
      active: "active:bg-pink-500 active:text-pink-100",
    },
  },
  {
    href: "https://www.linkedin.com/in/williamhallin",
    label: "linkedin",
    classes: {
      base: "decoration-blue-500 selection:bg-blue-300 selection:text-blue-700",
      hover: "hover:bg-blue-500 hover:text-blue-100",
      active: "active:bg-blue-500 active:text-blue-100",
    },
  },
];
---

<footer class="mt-12 flex flex-col gap-8" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">{translations[Astro.currentLocale].footer_label}</h2>
  <hr class="border-stone-300" aria-hidden="true" />
  <div class="flex flex-col gap-8 md:justify-between">
    <section
      class="flex justify-between gap-4 font-serif text-sm selection:bg-red-300 selection:text-red-800"
      aria-labelledby="navigation-heading"
    >
      <h3 id="navigation-heading" class="font-medium text-stone-700">
        {translations[Astro.currentLocale].navTitle}
      </h3>
      <nav aria-label={translations[Astro.currentLocale].navigation_label} class="text-stone-500">
        <ul class="flex flex-wrap justify-end gap-2 font-light">
          {
            navLinks.map((link) => (
              <li>
                <a
                  href={getRelativeLocaleUrl(`${Astro.currentLocale}`, link.path)}
                  data-umami-event={`footer_nav_${link.path}`}
                  data-umami-event-origin={Astro.url}
                  class="underline decoration-dashed decoration-from-font underline-offset-4 hover:bg-red-500 hover:text-stone-50 hover:no-underline active:bg-red-500 active:text-stone-50 active:no-underline"
                >
                  {link.label}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </section>

    <address
      class="flex flex-col justify-between gap-4 sm:flex-row sm:items-center"
      aria-label={translations[Astro.currentLocale].contact_label}
    >
      <section aria-labelledby="author-info">
        <figure class="flex items-center gap-4 font-serif">
          <Image
            src={ImgAvatar}
            alt={translations[Astro.currentLocale].alt}
            width="128"
            height="128"
            class="h-8 w-8 rounded-full border border-stone-300 object-cover drop-shadow-xs select-none"
          />
          <figcaption class="flex flex-col selection:bg-red-300 selection:text-red-800">
            <span id="author-info" class="font-medium">William Hallin</span>
            <span class="text-sm font-light text-stone-700 italic">
              {translations[Astro.currentLocale].title}
            </span>
          </figcaption>
        </figure>
      </section>
      <section class="sm:text-right" aria-labelledby="social-links-heading">
        <h3 id="social-links-heading" class="sr-only">
          {translations[Astro.currentLocale].social_label}
        </h3>
        <ul class="flex flex-wrap gap-2 font-serif text-sm" role="list">
          {
            socialLinks.map((link) => (
              <li role="listitem">
                <a
                  href={link.href}
                  data-umami-event={`footer_${link.label}`}
                  data-umami-event-url={link.href}
                  data-umami-event-origin={Astro.url}
                  target={link.href.startsWith("http") ? "_blank" : undefined}
                  class={`underline decoration-dashed decoration-from-font underline-offset-4 ${link.classes.base} ${link.classes.hover} ${link.classes.active}`}
                  aria-label={`${link.label} (${translations[Astro.currentLocale].newWindow_label})`}
                >
                  {link.label}
                </a>
              </li>
            ))
          }
        </ul>
        <a
          href="https://github.com/whallin/hallinmedia-website"
          data-umami-event="footer_github"
          data-umami-event-url="https://github.com/whallin/hallinmedia-website"
          data-umami-event-origin={Astro.url}
          target="_blank"
          class="font-mono text-xs font-light text-stone-500 not-italic selection:bg-stone-300 selection:text-stone-800 hover:bg-stone-500 hover:text-stone-100 active:bg-stone-500 active:text-stone-100"
          aria-label={translations[Astro.currentLocale].github_label}>{GIT_HASH}</a
        >
      </section>
    </address>
  </div>
</footer>
