---
import "@fontsource-variable/dm-sans/opsz-italic.css";
import "@fontsource-variable/dm-sans/opsz.css";
import "@fontsource-variable/kode-mono";
import "@fontsource-variable/source-serif-4/opsz-italic.css";
import "@fontsource-variable/source-serif-4/opsz.css";
import "@fontsource/schoolbell";
import { getAbsoluteLocaleUrl } from "astro:i18n";

interface Props {
  title?: string;
  description?: string;
  article?: boolean;
  keywords?: string[];
}

const translations = {
  en: {
    title: "Skellefteå-based photographer and video producer",
    description:
      "William Hallin, formerly known as HallinMedia, is a Skellefteå-based photographer and video producer, offering a wide range of creative services in photography, videography, graphic design, and communication for business clients.",
  },
  sv: {
    title: "Skellefteåbaserad fotograf och videoproducent",
    description:
      "William Hallin, formellt känd som HallinMedia, är en Skellefteåbaserad fotograf och videoproducent som erbjuder ett brett utbud av kreativa tjänster inom fotografi, videografi, grafisk design och kommunikation för företagskunder.",
  },
};

const locale = Astro.currentLocale === "en" || Astro.currentLocale === "sv" ? Astro.currentLocale : "en";
const {
  title = translations[locale].title,
  description = translations[locale].description,
  article = false,
  keywords = [],
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="theme-color" content="#FF3030" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{title} | HallinMedia</title>

<!-- Meta -->
<meta name="description" content={description} />
<meta name="author" content="William Hallin" />
{keywords.length > 0 && <meta name="keywords" content={keywords.join(", ")} />}
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="canonical" href={Astro.url} />
{
  ["en", "sv"].map((lang) => (
    <link
      rel="alternate"
      hreflang={lang}
      href={getAbsoluteLocaleUrl(lang, Astro.url.pathname.replace(`/${Astro.currentLocale}`, ""))}
    />
  ))
}

<!-- Favicon -->
<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
<link rel="shortcut icon" href="/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="HallinMedia" />
<link rel="manifest" href="/favicon/site.webmanifest" />

<!-- Open Graph -->
<meta property="og:type" content={article ? "article" : "website"} />
<meta property="og:site_name" content="HallinMedia" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={`${title} | HallinMedia`} />
<meta property="og:description" content={description} />
<meta property="og:image" content="https://hallin.media/meta.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:alt" content={description} />
<meta property="og:locale" content={Astro.currentLocale} />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content=`${title} | HallinMedia` />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content="https://hallin.media/meta.png" />
<meta name="twitter:image:alt" content={description} />

<!-- Schema Markup - Organization -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Corporation",
    "name": "HallinMedia",
    "alternateName": "William Hallin",
    "url": "https://hallin.media/",
    "logo": "https://hallin.media/meta.png",
    "contactPoint": [
      {
        "@type": "ContactPoint",
        "telephone": "+46706159279",
        "contactType": "customer service",
        "areaServed": ["SE", "NO", "FI", "DK", "150"],
        "availableLanguage": ["en", "Swedish"]
      },
      {
        "@type": "ContactPoint",
        "telephone": "+46706159279",
        "contactType": "technical support",
        "areaServed": ["SE", "NO", "FI", "DK", "150"],
        "availableLanguage": ["en", "Swedish"]
      },
      {
        "@type": "ContactPoint",
        "telephone": "+46706159279",
        "contactType": "billing support",
        "areaServed": ["SE", "NO", "FI", "DK", "150"],
        "availableLanguage": ["en", "Swedish"]
      },
      {
        "@type": "ContactPoint",
        "telephone": "+46706159279",
        "contactType": "sales",
        "areaServed": ["SE", "NO", "FI", "DK", "150"],
        "availableLanguage": ["en", "Swedish"]
      },
      {
        "@type": "ContactPoint",
        "telephone": "+46706159279",
        "contactType": "reservations",
        "areaServed": ["SE", "NO", "FI", "DK", "150"],
        "availableLanguage": ["en", "Swedish"]
      },
      {
        "@type": "ContactPoint",
        "telephone": "+46706159279",
        "contactType": "credit card support",
        "areaServed": ["SE", "NO", "FI", "DK", "150"],
        "availableLanguage": ["en", "Swedish"]
      }
    ],
    "sameAs": [
      "https://www.facebook.com/profile.php?id=100082821755832",
      "https://www.instagram.com/williamhallinn",
      "https://www.youtube.com/@hallinmedia",
      "https://www.linkedin.com/in/whallin",
      "https://github.com/whallin",
      "https://hallin.media/"
    ]
  }
</script>

<!-- Schema Markup - Local Business -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ProfessionalService",
    "name": "HallinMedia",
    "image": "https://hallin.media/meta.png",
    "@id": "https://hallin.media/",
    "url": "https://hallin.media/",
    "telephone": "+46706159279",
    "priceRange": "$$",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Bleckslagargatan 16",
      "addressLocality": "Kåge",
      "postalCode": "934 31",
      "addressCountry": "SE"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 64.8303689,
      "longitude": 20.990464
    },
    "openingHoursSpecification": [
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
        "opens": "09:00",
        "closes": "17:00"
      },
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Saturday", "Sunday"],
        "opens": "09:00",
        "closes": "15:00"
      }
    ],
    "sameAs": [
      "https://www.facebook.com/profile.php?id=100082821755832",
      "https://www.instagram.com/williamhallinn",
      "https://www.youtube.com/@hallinmedia",
      "https://www.linkedin.com/in/whallin",
      "https://github.com/whallin",
      "https://hallin.media/"
    ]
  }
</script>

<!-- Schema Markup - Person -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Person",
    "name": "William Hallin",
    "url": "https://hallin.media/",
    "image": "https://hallin.media/avatar.jpeg",
    "sameAs": [
      "https://www.facebook.com/profile.php?id=100082821755832",
      "https://www.instagram.com/williamhallinn",
      "https://www.youtube.com/@hallinmedia",
      "https://www.linkedin.com/in/whallin",
      "https://github.com/whallin",
      "https://hallin.media/"
    ],
    "jobTitle": "VD",
    "worksFor": {
      "@type": "Organization",
      "name": "HallinMedia"
    }
  }
</script>

<!-- Umami -->
<script
  is:inline
  type="text/partytown"
  src="https://cloud.umami.is/script.js"
  data-website-id="3e7bdf28-0c0e-47bb-adbd-9a2a6f7b6203"
  data-domains="hallin.media"></script>

<!-- Microsoft Clarity -->
<script is:inline type="text/partytown">
  (function (c, l, a, r, i, t, y) {
    c[a] =
      c[a] ||
      function () {
        (c[a].q = c[a].q || []).push(arguments);
      };
    t = l.createElement(r);
    t.async = 1;
    t.src = "https://www.clarity.ms/tag/" + i;
    y = l.getElementsByTagName(r)[0];
    y.parentNode.insertBefore(t, y);
  })(window, document, "clarity", "script", "i624k9um9g");
</script>

<!-- Google Analytics -->
<script is:inline type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-NV604NVM1K"></script>
<script is:inline type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-NV604NVM1K");
</script>

<!-- HubSpot -->
<script is:inline type="text/javascript" id="hs-script-loader" src="//js.hs-scripts.com/49502315.js"></script>
