---
import { getAbsoluteLocaleUrl } from "astro:i18n";
import "@fontsource-variable/dm-sans/opsz-italic.css";
import "@fontsource-variable/geist-mono";
import "@fontsource-variable/source-serif-4/opsz-italic.css";

interface Props {
  title: string;
  description?: string;
  article?: boolean;
  faqData?: any;
  datePublished?: string;
  dateModified?: string;
}

const { title, description = "", article, faqData, datePublished, dateModified } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title} | William Hallin</title>

<!-- Meta -->
<meta name="description" content={description} />
<meta name="author" content="William Hallin" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="canonical" href={Astro.url} />
{
  [
    {
      lang: "en",
      url: getAbsoluteLocaleUrl("en", Astro.url.pathname.replace(`/${Astro.currentLocale}`, "")),
    },
    {
      lang: "sv",
      url: getAbsoluteLocaleUrl("sv", Astro.url.pathname.replace(`/${Astro.currentLocale}`, "")),
    },
  ].map(({ lang, url }) => <link rel="alternate" hreflang={lang} href={url} />)
}

<!-- Favicon -->
<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
<link rel="shortcut icon" href="/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="HallinMedia" />
<link rel="manifest" href="/favicon/site.webmanifest" />

<!-- Open Graph -->
<meta property="og:type" content={article ? "article" : "website"} />
<meta property="og:site_name" content="HallinMedia" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content=`${title} | William Hallin` />
<meta property="og:description" content={description} />
<meta property="og:image" content="https://hallin.media/meta.png" />
<meta property="og:image:alt" content={description} />
<meta property="og:locale" content={Astro.currentLocale} />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content=`${title} | William Hallin` />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content="https://hallin.media/meta.png" />
<meta name="twitter:image:alt" content={description} />

<!-- JSON-LD Markup -->
<script
  type="application/ld+json"
  set:html={`
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "Person",
        "name": "William Hallin",
        "url": "https://hallin.media/",
        "image": "https://hallin.media/mw.png",
        "sameAs": [
          "https://www.facebook.com/profile.php?id=100082821755832",
          "https://www.instagram.com/williamhallinn",
          "https://www.youtube.com/@hallinmedia",
          "https://www.linkedin.com/in/whallin/",
          "https://github.com/whallin",
          "https://hallin.media/"
        ],
        "jobTitle": "Photographer & Designer",
        "worksFor": {
          "@type": "Organization",
          "name": "HallinMedia"
        }
      },
      {
        "@type": "Corporation",
        "name": "HallinMedia",
        "alternateName": "William Hallin",
        "url": "https://hallin.media/",
        "logo": "https://hallin.media/meta.png",
        "contactPoint": [
          {
            "@type": "ContactPoint",
            "telephone": "+46706159279",
            "contactType": "customer service",
            "areaServed": "SE",
            "availableLanguage": ["en", "Swedish"]
          },
          {
            "@type": "ContactPoint",
            "telephone": "+46706159279",
            "contactType": "technical support",
            "areaServed": "SE",
            "availableLanguage": ["en", "Swedish"]
          },
          {
            "@type": "ContactPoint",
            "telephone": "+46706159279",
            "contactType": "billing support",
            "areaServed": "SE",
            "availableLanguage": ["en", "Swedish"]
          },
          {
            "@type": "ContactPoint",
            "telephone": "+46706159279",
            "contactType": "sales",
            "areaServed": "SE",
            "availableLanguage": ["en", "Swedish"]
          }
        ],
        "sameAs": [
          "https://www.facebook.com/profile.php?id=100082821755832",
          "https://www.instagram.com/williamhallinn",
          "https://www.youtube.com/@hallinmedia",
          "https://www.linkedin.com/in/whallin/",
          "https://github.com/whallin",
          "https://hallin.media/"
        ]
      },
      {
        "@type": "ProfessionalService",
        "name": "HallinMedia",
        "image": "https://hallin.media/meta.png",
        "@id": "https://hallin.media/",
        "url": "https://hallin.media/",
        "telephone": "+46706159279",
        "priceRange": "$$",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Bleckslagargatan 16",
          "addressLocality": "Kåge",
          "postalCode": "93431",
          "addressCountry": "SE"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": 64.8303689,
          "longitude": 20.990464
        },
        "openingHoursSpecification": {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "opens": "00:00",
          "closes": "23:59"
        },
        "sameAs": [
          "https://www.facebook.com/profile.php?id=100082821755832",
          "https://www.instagram.com/williamhallinn",
          "https://www.youtube.com/@hallinmedia",
          "https://www.linkedin.com/in/whallin/",
          "https://github.com/whallin",
          "https://hallin.media/"
        ]
      }
      ${
        faqData || Astro.url.pathname.includes("/faq")
          ? `,
      {
        "@type": "FAQPage",
        "mainEntity": [
          ${
            faqData
              ? JSON.stringify(
                  faqData.flatMap((category) =>
                    category.data.questions.map((faq) => ({
                      "@type": "Question",
                      name: faq.question[Astro.currentLocale],
                      acceptedAnswer: {
                        "@type": "Answer",
                        text: faq.answer[Astro.currentLocale]
                          .replace(/<br\s*\/?>/gi, " ")
                          .replace(/<[^>]+>/g, "")
                          .replace(/\s+/g, " ")
                          .trim(),
                      },
                    }))
                  )
                ).slice(1, -1)
              : "[]"
          }
        ]
      }`
          : ""
      }
      ${
        Astro.url.pathname.includes("/legal/") ||
        Astro.url.pathname.includes("/blog/") ||
        Astro.url.pathname.includes("/portfolio/")
          ? `,
      {
        "@type": "${Astro.url.pathname.includes("/blog/") ? "BlogPosting" : "Article"}",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "${Astro.url}"
        },
        "headline": "${title}",
        "description": "${description}",
        "image": "https://hallin.media/meta.png",
        "author": {
          "@type": "${Astro.url.pathname.includes("/legal/") ? "Organization" : "Person"}",
          "name": "${Astro.url.pathname.includes("/legal/") ? "HallinMedia" : "William Hallin"}",
          "url": "https://hallin.media/"
        },
        "publisher": {
          "@type": "Organization",
          "name": "HallinMedia",
          "logo": {
            "@type": "ImageObject",
            "url": "https://hallin.media/meta.png"
          }
        },
        ${datePublished ? `"datePublished": "${datePublished}",` : ""}
        ${dateModified ? `"dateModified": "${dateModified}"` : ""}
      }`
          : ""
      }
    ]
  }
`}
/>

<!-- Umami -->
<script
  is:inline
  type="text/partytown"
  src="https://cloud.umami.is/script.js"
  data-website-id="3e7bdf28-0c0e-47bb-adbd-9a2a6f7b6203"
  data-domains="hallin.media"></script>

<!-- Microsoft Clarity -->
<script is:inline type="text/partytown">
  (function (c, l, a, r, i, t, y) {
    c[a] =
      c[a] ||
      function () {
        (c[a].q = c[a].q || []).push(arguments);
      };
    t = l.createElement(r);
    t.async = 1;
    t.src = "https://www.clarity.ms/tag/" + i;
    y = l.getElementsByTagName(r)[0];
    y.parentNode.insertBefore(t, y);
  })(window, document, "clarity", "script", "i624k9um9g");
</script>

<!-- Google Analytics -->
<script
  is:inline
  type="text/partytown"
  src="https://www.googletagmanager.com/gtag/js?id=G-NV604NVM1K"></script>
<script is:inline type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-NV604NVM1K");
</script>

<!-- HubSpot -->
