---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Notice from "../../components/Notice.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const clients = await getCollection("clients");
  return clients.map((client) => ({
    params: { id: client.id },
    props: { client },
  }));
}

const { client } = Astro.props;
const portfolio = await getCollection("portfolio", ({ data }) => {
  return data.clients.some((ref) => ref.id === client.id);
});
---

<BaseLayout
  title={client.data.name}
  description={client.data.description.en}
  article={false}
  icon="ph:buildings-duotone"
  showDescription={false}
>
  <div class="space-y-8">
    <div class="w-fit rounded-md bg-stone-200 p-4 dark:bg-stone-800">
      <Image
        src={client.data.logo}
        alt={`${client.data.name} logo`}
        width={300}
        height={100}
        class="pointer-events-none h-12 w-fit select-none"
      />
    </div>

    <div class="space-y-2">
      <p class="text-lg text-stone-700 dark:text-stone-300">
        {client.data.description.en}
      </p>

      {
        client.data.websiteUrl && (
          <div class="flex gap-2">
            <a
              href={client.data.websiteUrl}
              target="_blank"
              rel="noopener noreferrer"
              class="inline-flex items-center gap-1 text-live-500 underline underline-offset-4 transition duration-200 hover:opacity-70 active:opacity-50"
            >
              <Icon name="ph:globe-duotone" />
              Visit {new URL(client.data.websiteUrl).hostname}
              <Icon name="ph:arrow-up-right-bold" class="hidden sm:block" />
            </a>
          </div>
        )
      }
    </div>

    {
      client.data.subcontracted && (
        <Notice showCta={false}>
          This client was serviced through a partner agency, contractor, or
          production company.
        </Notice>
      )
    }

    {
      client.data.socialLinks && (
        <div class="mt-8 space-y-4">
          <h2 class="text-2xl font-semibold text-stone-900 dark:text-stone-100">
            {client.data.name}'s socials
          </h2>
          <div class="flex flex-col space-y-3">
            {client.data.socialLinks.twitter && (
              <a
                href={client.data.socialLinks.twitter}
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex items-center gap-2 text-base text-live-500 underline underline-offset-4 transition duration-200 hover:opacity-70 active:opacity-50"
              >
                <Icon name="ph:x-logo-duotone" />
                {"Follow @" +
                  new URL(client.data.socialLinks.twitter).pathname
                    .split("/")
                    .pop() +
                  " on X"}
                <Icon name="ph:arrow-up-right-bold" class="hidden sm:block" />
              </a>
            )}
            {client.data.socialLinks.linkedin && (
              <a
                href={client.data.socialLinks.linkedin}
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex items-center gap-2 text-base text-live-500 underline underline-offset-4 transition duration-200 hover:opacity-70 active:opacity-50"
              >
                <Icon name="ph:linkedin-logo-duotone" />
                Follow {client.data.name} on LinkedIn
                <Icon name="ph:arrow-up-right-bold" class="hidden sm:block" />
              </a>
            )}
            {client.data.socialLinks.instagram && (
              <a
                href={client.data.socialLinks.instagram}
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex items-center gap-2 text-base text-live-500 underline underline-offset-4 transition duration-200 hover:opacity-70 active:opacity-50"
              >
                <Icon name="ph:instagram-logo-duotone" />
                {"Follow @" +
                  new URL(client.data.socialLinks.instagram).pathname
                    .split("/")
                    .pop() +
                  " on Instagram"}
                <Icon name="ph:arrow-up-right-bold" class="hidden sm:block" />
              </a>
            )}
            {client.data.socialLinks.facebook && (
              <a
                href={client.data.socialLinks.facebook}
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex items-center gap-2 text-base text-live-500 underline underline-offset-4 transition duration-200 hover:opacity-70 active:opacity-50"
              >
                <Icon name="ph:facebook-logo-duotone" />
                Follow {client.data.name} on Facebook
                <Icon name="ph:arrow-up-right-bold" class="hidden sm:block" />
              </a>
            )}
          </div>
        </div>
      )
    }
  </div>

  <div class="mt-8 space-y-4">
    <h2 class="text-2xl font-semibold text-stone-900 dark:text-stone-100">
      {client.data.name}'s projects
    </h2>
    {
      portfolio.length > 0 ? (
        <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
          {portfolio.map((item) => (
            <a
              href={`/portfolio/${item.id}`}
              class="group relative overflow-hidden rounded-lg bg-stone-100 transition duration-200 hover:opacity-70 active:opacity-50 dark:bg-stone-900"
            >
              <Image
                src={item.data.thumbnail}
                alt={item.data.title}
                width={600}
                height={400}
                class="aspect-video w-full object-cover"
              />
              <div class="absolute inset-0 flex items-end bg-gradient-to-t from-black/80 to-transparent p-4">
                <div class="space-y-1">
                  <h3 class="text-lg font-medium text-white">
                    {item.data.title}
                  </h3>
                  <p class="text-sm text-stone-300">{item.data.description}</p>
                </div>
              </div>
            </a>
          ))}
        </div>
      ) : (
        <p class="italic text-stone-700 dark:text-stone-500">
          No associated projects. The projects may be under legal protection, or
          the client has chosen not to share them with the public.
        </p>
      )
    }
  </div>
</BaseLayout>
