---
import { getCollection } from "astro:content";
import ClientAbout from "../../components/clients/ClientAbout.astro";
import ClientHeader from "../../components/clients/ClientHeader.astro";
import ClientNotice from "../../components/clients/ClientNotice.astro";
import ClientPortfolio from "../../components/clients/ClientPortfolio.astro";
import ClientSocialLinks from "../../components/clients/ClientSocialLinks.astro";
import CtaBanner from "../../components/sections/CtaBanner.astro";
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const clients = await getCollection("clientsCollection");
  return clients.map((client) => ({
    params: { slug: client.id },
    props: { client },
  }));
}

const { client } = Astro.props;
const { data } = client;
const dominantColor = data.dominantColor || "oklch(0.637 0.237 25.331)";

// Get portfolio posts for this client
const portfolioPosts = await getCollection("portfolioEnCollection").then((posts) =>
  posts
    .filter((post) => post.data.client.id === client.id)
    .sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
);
---

<MainLayout title={data.name} description={data.description.en}>
  <main class="flex flex-col gap-12 font-serif" style={`--dominant-color: ${dominantColor}`}>
    <ClientHeader logo={data.logo} name={data.name} dominantColor={dominantColor} />

    {data.subcontracted && <ClientNotice dominantColor={dominantColor} />}

    <div class="flex flex-col gap-8">
      <ClientAbout
        name={data.name}
        description={data.description.en}
        websiteUrl={data.websiteUrl}
        dominantColor={dominantColor}
      >
        {data.socialLinks && <ClientSocialLinks socialLinks={data.socialLinks} />}
      </ClientAbout>
    </div>

    {
      portfolioPosts.length > 0 && (
        <ClientPortfolio
          posts={portfolioPosts}
          dominantColor={dominantColor}
          currentLocale={Astro.currentLocale}
        />
      )
    }

    <CtaBanner
      title="Ready to start working?"
      description=`${data.name} was pleased with our collaboration. What's stopping us from being the next collaboration duo? Let's start discussing your ideas and projects to see what we can create together!`
      buttonText="Send a message"
      pricingText="See pricing"
    />
  </main>
</MainLayout>
