---
import { getRelativeLocaleUrl } from "astro:i18n";
import IconPhHandWavingDuotone from "../../components/icons/PhHandWavingDuotone.astro";
import LatestPosts from "../../components/sections/LatestPosts.astro";
import SpotifyPlaying from "../../components/sections/SpotifyPlaying.astro";
import LandingPhotoGrid from "../../components/ui/LandingPhotoGrid.astro";
import MainLayout from "../../layouts/MainLayout.astro";

const age = new Date().getFullYear() - 2005 - (new Date().getMonth() < 7 ? 1 : 0);
---

<MainLayout
  title="Hem"
  description="William Hallin är en fotograf och designer i Skellefteå. Han hjälper varumärken genom att skapa engagerande visuella lösningar, med över fem års erfarenhet från hela världen. Se hur HallinMedia kan stärka ditt varumärke med kreativa lösningar."
>
  <main class="space-y-12 font-serif">
    <header
      class="flex flex-col-reverse gap-4 selection:bg-red-300 selection:text-red-800 sm:flex-row sm:items-center sm:justify-between"
    >
      <h1 class="max-w-md text-4xl font-light text-stone-900 italic sm:text-6xl">
        Detaljerna betyder allt.
      </h1>
      <IconPhHandWavingDuotone
        class="motion-rotate-loop-16 motion-duration-2000 motion-ease h-8 w-8 text-red-500 sm:h-16 sm:w-16"
      />
    </header>
    <article
      class="mt-12 space-y-4 text-sm font-light text-stone-700 selection:bg-red-300 selection:text-red-800"
    >
      <p>
        Jag är en {age}-årig <b>fotograf</b> och <b>digital designer</b> som är baserad i Skellefteå,
        Sverige.
      </p>
      <p>
        Jag skapar engagerade <a
          href={getRelativeLocaleUrl(`${Astro.currentLocale}`, "portfolio")}
          data-umami-event="landing_portfolio"
          data-umami-event-origin={Astro.url}
          class="text-red-500 underline decoration-dashed decoration-from-font underline-offset-4 hover:bg-red-500 hover:text-stone-50 active:opacity-75"
          >visuella upplevelser</a
        > för varumärken och företag. Med mer än 5 års erfarenhet bakom mig har jag haft nöjet att arbeta
        med <a
          href={getRelativeLocaleUrl(`${Astro.currentLocale}`, "clients")}
          data-umami-event="landing_clients"
          data-umami-event-origin={Astro.url}
          class="text-red-500 underline decoration-dashed decoration-from-font underline-offset-4 hover:bg-red-500 hover:text-stone-50 active:opacity-75"
          >kunder över hela världen</a
        > för att hjälpa dem väcka liv i sina varumärken och få sin verksamhet växa genom effektiv kommunikation.
      </p>
      <p>
        När jag inte är upptagen med arbeten så hittar du mig troligen <a
          href="https://www.instagram.com/williamhallinn"
          data-umami-event="landing_instagram"
          data-umami-event-url="https://www.instagram.com/williamhallinn"
          data-umami-event-origin={Astro.url}
          target="_blank"
          class="text-red-500 underline decoration-dashed decoration-from-font underline-offset-4 hover:bg-red-500 hover:text-stone-50 active:opacity-75"
          >ute med min kamera</a
        > och fångar det fina omkring mig - eller <a
          href="#blog"
          data-umami-event="landing_latest-blog"
          data-umami-event-origin={Astro.url}
          class="text-red-500 underline decoration-dashed decoration-from-font underline-offset-4 hover:bg-red-500 hover:text-stone-50 active:opacity-75"
          >skriver om det jag älskar</a
        >.
      </p>
    </article>
    <aside>
      <SpotifyPlaying />
    </aside>
    <section>
      <LandingPhotoGrid />
    </section>
    <section id="blog">
      <LatestPosts />
    </section>
  </main>
</MainLayout>
