---
import DefaultLayout from "../layouts/Default.astro";

import { getImage, Picture } from "astro:assets";
import { Icon } from "astro-icon/components";

import landingBg from "../assets/landing-bg.png";
const optimizedLandingBg = await getImage({ src: landingBg });
import logomarkWhite from "../assets/logomark-white.svg";
import avatar from "../assets/avatar.png";
---

<DefaultLayout
  title="Home"
  description="William Hallin is a high-school student and product designer based in Skellefteå, Sweden. William helps brands to be visually appealing and unique online."
>
  <div
    class="h-full w-full bg-cover bg-center px-8 pb-12 sm:h-screen"
    style={`background-image: url(${optimizedLandingBg.src})`}
  >
    <div class="flex w-full flex-col items-center">
      <Picture
        src={logomarkWhite}
        alt=""
        widths={[128, 200, 256, logomarkWhite.width]}
        class="select-none py-14"
      />
    </div>
    <div class="flex h-5/6 w-full items-center justify-center py-32 sm:py-0">
      <div class="flex max-w-6xl flex-col gap-8">
        <div class="flex gap-6">
          <Icon
            name="ph:hand-waving-duotone"
            width={64}
            height={64}
            class="text-red-200"
          />
          <Picture
            src={avatar}
            alt=""
            widths={[16, 32, 64, 128]}
            class="w-16 select-none rounded-full"
          />
        </div>
        <h1 class="text-5xl font-medium text-stone-50">
          I'm <span
            class="bg-gradient-to-b from-stone-50 to-red-200 bg-clip-text font-serif italic text-transparent"
            >William Hallin.</span
          >
        </h1>
        <p class="text-3xl text-stone-50">
          I'm a high school student, <span class="font-serif italic"
            >product designer</span
          >, and nature lover based in <span class="font-serif italic"
            >Skellefteå, Sweden.</span
          > I help build and develop brands and products for the real world,
          making them stand out in the crowd.
        </p>
        <div class="flex gap-4">
          <a
            target="_blank"
            href="mailto:william@hallin.media"
            data-umami-event=`${Astro.url.pathname}: Landing Email`
          >
            <Icon
              name="ph:envelope-duotone"
              width={32}
              height={32}
              class="text-red-100 transition duration-150 hover:text-red-300"
            />
          </a>
          <a
            target="_blank"
            href="https://www.linkedin.com/in/whallin/"
            data-umami-event=`${Astro.url.pathname}: Landing LinkedIn`
          >
            <Icon
              name="ph:linkedin-logo-duotone"
              width={32}
              height={32}
              class="text-red-100 transition duration-150 hover:text-red-300"
            />
          </a>
          <a
            target="_blank"
            href="https://www.instagram.com/williamhallinn"
            data-umami-event=`${Astro.url.pathname}: Landing Instagram`
          >
            <Icon
              name="ph:instagram-logo-duotone"
              width={32}
              height={32}
              class="text-red-100 transition duration-150 hover:text-red-300"
            />
          </a>
          <a
            target="_blank"
            href="https://github.com/whallin"
            data-umami-event=`${Astro.url.pathname}: Landing GitHub`
          >
            <Icon
              name="ph:github-logo-duotone"
              width={32}
              height={32}
              class="text-red-100 transition duration-150 hover:text-red-300"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</DefaultLayout>
