---
import { Icon } from "astro-icon/components";
import { useTranslations } from "../i18n/utils";

interface Props {
  title: string;
  purpose: string;
  icon: string;
  publishDate: Date;
  updatedDate?: Date;
  href: string;
}

const { title, purpose, icon, publishDate, updatedDate, href } = Astro.props;
const dateToUse = updatedDate || publishDate;
const dateLabel = updatedDate ? "last-updated" : "published";
const t = useTranslations(Astro.currentLocale);

const formattedDate = new Date(dateToUse).toLocaleDateString(
  Astro.currentLocale,
  {
    year: "numeric",
    month: "numeric",
    day: "numeric",
  },
);
---

<div>
  <a href={href} class="block">
    <div
      class="group relative flex min-h-40 flex-col justify-center overflow-hidden rounded-lg bg-stone-100 p-6 transition duration-200 hover:bg-stone-200 active:scale-95 dark:bg-stone-900 dark:hover:bg-stone-800"
    >
      <div class="relative z-10 flex items-center justify-between">
        <div class="space-y-1">
          <div class="text-sm text-stone-500 dark:text-stone-400">
            {t(`content.${dateLabel}`)}
            <span class="font-mono">{formattedDate}</span>
          </div>

          <h3
            class="mb-1 font-serif text-xl text-stone-900 dark:text-stone-100"
          >
            {title}
          </h3>
          <p class="text-stone-700 dark:text-stone-300">
            {purpose}
          </p>
        </div>

        <div class="text-stone-900 dark:text-stone-100">
          <Icon
            name="ph:arrow-right-bold"
            class="h-6 w-6 transition duration-200 group-hover:translate-x-1"
          />
        </div>
      </div>

      <Icon
        name={icon}
        class="absolute -bottom-8 -right-12 h-48 w-48 text-red-500/20"
      />
    </div>
  </a>
</div>
