---
import { Picture } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";

const portfolioEntries = await getCollection("portfolio");
const sortedWorkPosts = portfolioEntries.sort(
  (a: CollectionEntry<"portfolio">, b: CollectionEntry<"portfolio">) => {
    const dateA = new Date(a.data.publishDate).getTime();
    const dateB = new Date(b.data.publishDate).getTime();
    return dateB - dateA;
  },
);
---

<section
  class="grid select-none grid-cols-1 gap-4 sm:grid-cols-2"
  aria-label="Portfolio projects grid"
>
  {
    sortedWorkPosts.map((workPostEntry) => (
      <article class="portfolio-item">
        <a
          href={getRelativeLocaleUrl(
            Astro.currentLocale ?? "en",
            `/portfolio/${workPostEntry.slug}`,
          )}
          class="group block rounded-lg transition duration-150 hover:opacity-75 focus:outline-none focus:ring-2 focus:ring-red-600 active:opacity-50"
          aria-labelledby={`project-title-${workPostEntry.slug}`}
        >
          <div
            class="relative h-[350px] overflow-clip rounded opacity-0"
            aria-hidden="false"
          >
            <Picture
              src={workPostEntry.data.thumbnail.src}
              alt={workPostEntry.data.thumbnail.alt}
              formats={["avif", "webp"]}
              width={1280}
              height={720}
              class="absolute left-0 top-0 -z-20 h-full w-full select-none object-cover transition duration-150 group-hover:rotate-6 group-hover:scale-125"
            />
            <div class="absolute inset-0 z-10 bg-gradient-to-t from-red-950/90 via-red-900/50 to-transparent" />
            <div class="relative z-20 h-full p-6 sm:p-8">
              <div class="flex h-full flex-col justify-end text-stone-50">
                <div class="flex flex-col gap-1">
                  <time
                    datetime={workPostEntry.data.publishDate.toISOString()}
                    class="text-sm opacity-50"
                  >
                    {workPostEntry.data.publishDate.toISOString().slice(0, 10)}
                  </time>
                  <h2
                    id={`project-title-${workPostEntry.slug}`}
                    class="text-2xl"
                  >
                    {workPostEntry.data.title}
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </a>
      </article>
    ))
  }
</section>

<script>
  document.addEventListener(
    "astro:page-load",
    () => {
      gsap.set(".portfolio-item div", { opacity: 1 });
      gsap.from(".portfolio-item div", {
        y: 10,
        opacity: 0,
        duration: 0.5,
        ease: "power2.out",
        stagger: 0.1,
      });
    },
    { once: false },
  );
</script>
