---
import { getCollection, render, type CollectionEntry } from "astro:content";
import Metadata from "../../../components/legal/Metadata.astro";
import RelatedDocuments from "../../../components/legal/RelatedDocuments.astro";
import CtaBanner from "../../../components/sections/CtaBanner.astro";
import MainLayout from "../../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const legalItems = await getCollection("legalSvCollection");
  return legalItems.map((item) => ({
    params: { slug: item.id },
    props: { item, allLegalItems: legalItems },
  }));
}

type Props = {
  item: CollectionEntry<"legalSvCollection">;
  allLegalItems: CollectionEntry<"legalSvCollection">[];
};

const { item, allLegalItems } = Astro.props;
const { Content } = await render(item);
const audienceColor =
  item.data.audience === "B2B" ? "blue" : item.data.audience === "B2C" ? "pink" : "purple";
---

<MainLayout
  title={item.data.title}
  description={item.data.description}
  article={true}
  datePublished={item.data.publishedDate}
  dateModified={item.data.lastEdited}
>
  <article class="space-y-8 font-serif" aria-labelledby="article-title">
    <header class="space-y-6 selection:bg-red-300 selection:text-red-800">
      <span
        class="inline-block rounded-full border border-stone-500 px-3 py-1 font-mono text-xs font-light text-stone-600"
        aria-label={`Dokumenttyp: ${item.data.documentType}`}
      >
        {item.data.documentType}
      </span>
      <h1
        id="article-title"
        class="text-4xl font-light break-words text-stone-900 italic sm:text-6xl"
      >
        {item.data.title}
      </h1>
    </header>

    <Metadata item={item} audienceColor={audienceColor} />

    <hr class="border-stone-300" aria-hidden="true" />

    <section
      class="prose prose-stone mt-8 max-w-none text-sm font-light text-stone-700 selection:bg-red-300 selection:text-red-800"
      aria-label="Dokumentinnehåll"
    >
      <div>
        <Content />
      </div>
    </section>

    <hr class="border-stone-300" aria-hidden="true" />

    <RelatedDocuments docId={item.id} item={item} allLegalItems={allLegalItems} />

    <CtaBanner
      title="Har du några frågor?"
      description=`Lämnade ${item.data.title} dig med obesvarade frågor? Ingen fara, det händer då och då! Du är alltid välkommen att kontakta mig, så ska jag göra mitt bästa för att förklara och klargöra alla funderingar du har.`
      buttonText="Kontakta mig"
      pricingText="Skicka ett mejl"
      pricingLink=`mailto:legal@newgent.digital?subject=Juridisk fråga: ${item.data.title}`
      aria-label="Kontaktsektion"
    />
  </article>
</MainLayout>
