---
import PhCalendarDuotone from "../icons/PhCalendarDuotone.astro";
import PhClockCounterClockwiseDuotone from "../icons/PhClockCounterClockwiseDuotone.astro";
import PhTimerDuotone from "../icons/PhTimerDuotone.astro";
import PhUserDuotone from "../icons/PhUserDuotone.astro";

const translations = {
  en: {
    published: "Published",
    updated: "Updated",
    minutes_read: "min read",
    minutes: "minutes",
    tags: "Tags",
    tag_label: "Tag:",
    published_date: "Published date:",
    updated_date: "Updated date:",
    author_label: "Author:",
    reading_time: "Reading time:",
  },
  sv: {
    published: "Publicerat",
    updated: "Uppdaterad",
    minutes_read: "min att läsa",
    minutes: "minuter",
    tags: "Taggar",
    tag_label: "Tagg:",
    published_date: "Publiceringsdatum:",
    updated_date: "Uppdateringsdatum:",
    author_label: "Författare:",
    reading_time: "Lästid:",
  },
};

const { publishedDate, updatedDate, author, readingTime, tags, categoryColor } = Astro.props;

const categoryStyles = {
  sky: "hover:border-sky-500 hover:text-sky-700 active:border-sky-500 active:text-sky-700",
  fuchsia:
    "hover:border-fuchsia-500 hover:text-fuchsia-700 active:border-fuchsia-500 active:text-fuchsia-700",
  rose: "hover:border-rose-500 hover:text-rose-700 active:border-rose-500 active:text-rose-700",
  emerald:
    "hover:border-emerald-500 hover:text-emerald-700 active:border-emerald-500 active:text-emerald-700",
  amber:
    "hover:border-amber-500 hover:text-amber-700 active:border-amber-500 active:text-amber-700",
  indigo:
    "hover:border-indigo-500 hover:text-indigo-700 active:border-indigo-500 active:text-indigo-700",
  pink: "hover:border-pink-500 hover:text-pink-700 active:border-pink-500 active:text-pink-700",
  teal: "hover:border-teal-500 hover:text-teal-700 active:border-teal-500 active:text-teal-700",
};
---

<article
  class="grid gap-6 rounded-lg border border-stone-200 p-6 font-mono text-sm text-stone-600"
  aria-labelledby="meta-title"
>
  <h2 id="meta-title" class="sr-only">Article Metadata</h2>
  <section class="grid gap-4 sm:grid-cols-2">
    <div class="space-y-2">
      <div class="flex items-center gap-2 selection:bg-sky-300 selection:text-sky-800">
        <time
          class="flex items-center gap-2"
          datetime={new Date(publishedDate).toISOString()}
          aria-label={`${translations[Astro.currentLocale].published_date} ${new Date(publishedDate).toLocaleDateString()}`}
        >
          <PhCalendarDuotone class="h-4 w-4 text-sky-500" aria-hidden="true" />
          <p>
            {translations[Astro.currentLocale].published}: {
              new Date(publishedDate).toLocaleDateString()
            }
          </p>
        </time>
      </div>
      {
        updatedDate && (
          <div class="flex items-center gap-2 selection:bg-amber-300 selection:text-amber-800">
            <time
              class="flex items-center gap-2"
              datetime={new Date(updatedDate).toISOString()}
              aria-label={`${translations[Astro.currentLocale].updated_date} ${new Date(updatedDate).toLocaleDateString()}`}
            >
              <PhClockCounterClockwiseDuotone class="h-4 w-4 text-amber-500" aria-hidden="true" />
              <p>
                {translations[Astro.currentLocale].updated}:{" "}
                {new Date(updatedDate).toLocaleDateString()}
              </p>
            </time>
          </div>
        )
      }
    </div>

    <div class="space-y-2">
      <address
        class="flex items-center gap-2 not-italic selection:bg-emerald-300 selection:text-emerald-800"
        aria-label={`${translations[Astro.currentLocale].author_label} ${author}`}
      >
        <div class="flex items-center gap-2">
          <PhUserDuotone class="h-4 w-4 text-emerald-500" aria-hidden="true" />
          <p>{author}</p>
        </div>
      </address>
      <div
        class="flex items-center gap-2 selection:bg-fuchsia-300 selection:text-fuchsia-800"
        aria-label={`${translations[Astro.currentLocale].reading_time} ${readingTime} ${translations[Astro.currentLocale].minutes}`}
      >
        <div class="flex items-center gap-2">
          <PhTimerDuotone class="h-4 w-4 text-fuchsia-500" aria-hidden="true" />
          <p>{readingTime} {translations[Astro.currentLocale].minutes_read}</p>
        </div>
      </div>
    </div>
  </section>

  {
    tags && tags.length > 0 && (
      <section
        class="border-t border-stone-200 pt-4 selection:bg-red-300 selection:text-red-800"
        aria-labelledby="tags-title"
      >
        <h2 id="tags-title" class="mb-2 text-xs font-medium text-stone-500">
          {translations[Astro.currentLocale].tags}
        </h2>
        <ul class="flex flex-wrap gap-2">
          {tags.map((tag) => (
            <li
              class={`rounded-full border border-stone-500 px-3 py-1 text-xs transition hover:-translate-y-1 active:-translate-y-1 ${categoryStyles[categoryColor]}`}
              aria-label={`${translations[Astro.currentLocale].tag_label} ${tag}`}
            >
              #{tag}
            </li>
          ))}
        </ul>
      </section>
    )
  }
</article>
