---
import { getRelativeLocaleUrl } from "astro:i18n";

const translations = {
  en: {
    related_posts: "Related Posts",
  },
  sv: {
    related_posts: "Relaterade inlägg",
  },
};

const { relatedPosts, allPosts, categoryColor, currentLocale } = Astro.props;
---

<footer class="mt-8 selection:bg-red-300 selection:text-red-800">
  <h2 class="mb-4 text-2xl font-light text-stone-900 italic">
    {translations[Astro.currentLocale].related_posts}
  </h2>
  <div class="flex w-full flex-col gap-4 sm:w-auto sm:flex-row sm:flex-wrap">
    {
      relatedPosts.map((postSlug) => {
        const relatedPost = allPosts.find((p) => p.id === postSlug);
        return (
          <a
            href={getRelativeLocaleUrl(currentLocale, `/blog/${postSlug}`)}
            class={`hover:border-${categoryColor}-500 hover:text-${categoryColor}-700 flex w-full items-center justify-center gap-2 rounded-lg border border-stone-300 px-4 py-2 text-sm text-stone-700 transition duration-200 active:scale-90 sm:w-auto sm:justify-normal`}
          >
            {relatedPost ? relatedPost.data.title : `/${postSlug}`}
          </a>
        );
      })
    }
  </div>
</footer>
