---
interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  variant?: "primary" | "secondary";
  arialabel?: string;
}

const {
  href = "#",
  rel = "",
  target = "_self",
  variant = "primary",
  arialabel = "",
  class: className,
  ...rest
} = Astro.props;

const baseClasses = `flex w-full cursor-pointer flex-wrap items-center justify-center gap-2 rounded-sm px-4 py-2 text-left text-sm font-semibold transition hover:opacity-75 active:scale-95 active:opacity-50 ${
  variant === "primary"
    ? "bg-red-500 text-stone-100"
    : "bg-amber-50 border border-stone-400 text-stone-700 dark:bg-stone-900 dark:border-stone-600 dark:text-stone-100"
}`;
---

{
  href === "#" ? (
    <button class:list={[baseClasses, className]} aria-disabled="true" aria-label={arialabel} tabindex="-1" {...rest}>
      <slot />
    </button>
  ) : (
    <a href={href} rel={rel} target={target} aria-label={arialabel} class:list={[baseClasses, className]} {...rest}>
      <slot />
    </a>
  )
}
