---
import { Icon } from "astro-icon/components";
import AnnouncementBar from "../components/AnnouncementBar.astro";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Navbar from "../components/Navbar.astro";
import SectionContact from "../components/SectionContact.astro";
import { useTranslations } from "../i18n/utils";

interface Props {
  title: string;
  description: string;
  article: boolean;
  icon?: string;
  showHeader?: boolean;
  showDescription?: boolean;
}

const t = useTranslations(Astro.currentLocale);

const {
  title = "HallinMedia",
  description = "William Hallin is a freelance photographer and digital designer based in Skellefteå, Sweden.",
  article = false,
  icon = "ph:question-duotone",
  showHeader = true,
  showDescription = true,
} = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <Head title={title} description={description} article={article} />
  </head>
  <body class="bg-stone-50 selection:bg-live-500 dark:bg-stone-950">
    <AnnouncementBar variant="info" showCta={false}>
      {t("announcement.message")}
    </AnnouncementBar>
    <Navbar />

    <main class="mx-6 my-20 max-w-3xl break-words md:mx-auto">
      {
        showHeader && (
          <header class="mb-12 flex flex-col gap-4">
            <h1 class="flex flex-row items-center gap-4 text-4xl font-semibold text-stone-900 dark:text-stone-100">
              <Icon name={icon} class="text-live-500" />
              {title}
            </h1>
            {showDescription && (
              <span class="text-sm italic text-stone-700 dark:text-stone-300">
                {description}
              </span>
            )}
          </header>
        )
      }
      <slot />
    </main>

    <div class="mx-6 flex max-w-3xl flex-col gap-8 md:mx-auto">
      <SectionContact />
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  ::-webkit-scrollbar {
    @apply w-1;
  }
  ::-webkit-scrollbar-track {
    @apply bg-stone-300 dark:bg-stone-800;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-stone-400 dark:bg-stone-600;
  }
</style>
