---
import SiteHead from "../components/SiteHead.astro";
import { astroI18n } from "astro-i18n";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const ldJsonSchema = {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  mainEntityOfPage: {
    "@type": "WebPage",
    "@id": Astro.url,
  },
  headline: title,
  description: description,
  image: "",
  author: {
    "@type": "Person",
    name: "William Hallin",
    url: "https://hallin.media",
  },
  publisher: {
    "@type": "Organization",
    name: "HallinMedia",
    logo: {
      "@type": "ImageObject",
      url: "https://hallin.media/img/logomark-black-color.png",
    },
  },
  datePublished: "2023-11-09",
  dateModified: "2023-11-15",
};
---

<!doctype html>
<html lang={astroI18n.locale}>
  <head>
    <SiteHead />
    <title>{title} - Blog | HallinMedia</title>
    <meta itemprop="name" content=`${title} - Blog | HallinMedia` />
    <meta property="og:title" content=`${title} - Blog | HallinMedia` />
    <meta property="twitter:title" content=`${title} - Blog | HallinMedia` />
    <meta name="description" content={description} />
    <meta itemprop="description" content={description} />
    <meta property="og:description" content={description} />
    <meta property="twitter:description" content={description} />
    <script
      type="application/ld+json"
      set:html={JSON.stringify(ldJsonSchema)}
    />
  </head>
  <body class="bg-stone-50">
    <slot />
  </body>
</html>
