---
import { getCollection, getEntry, render, type CollectionEntry } from "astro:content";
import CaseStudySection from "../../components/portfolio/CaseStudySection.astro";
import ExternalResources from "../../components/portfolio/ExternalResources.astro";
import PortfolioHeader from "../../components/portfolio/PortfolioHeader.astro";
import CtaBanner from "../../components/sections/CtaBanner.astro";
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const portfolioItems = await getCollection("portfolioEnCollection");
  return portfolioItems.map((item) => ({
    params: { slug: item.id },
    props: { item },
  }));
}

type Props = {
  item: CollectionEntry<"portfolioEnCollection">;
};

const { item } = Astro.props;
const client = await getEntry("clientsCollection", item.data.client.id);
const { Content } = await render(item);
const dominantColor = client?.data.dominantColor || "oklch(0.637 0.237 25.331)";
---

<MainLayout
  title={item.data.title}
  description={item.data.description}
  article={true}
  datePublished={item.data.date}
  dateModified={item.data.date}
>
  <article
    class="flex flex-col gap-8 font-serif"
    style={`--dominant-color: ${dominantColor}`}
    aria-labelledby="portfolio-title"
  >
    <PortfolioHeader workId={item.id} item={item} client={client} />

    <p
      class="text-sm font-light text-stone-700 selection:bg-red-300 selection:text-red-800"
      id="portfolio-description"
    >
      {item.data.description}
    </p>

    {item.data.type === "case-study" && <CaseStudySection content={item.data.content} />}

    <hr class="border-stone-300" aria-hidden="true" />
    <section
      class="mt-8 selection:bg-red-300 selection:text-red-800"
      aria-labelledby="portfolio-content"
    >
      <h2 id="portfolio-content" class="sr-only">Project Details</h2>
      <div
        class="prose prose-stone prose-a:text-red-500 prose-a:underline prose-a:decoration-dashed prose-a:decoration-from-font prose-a:underline-offset-4 prose-a:hover:bg-red-500 prose-a:hover:text-stone-50 prose-a:active:opacity-75 max-w-none text-sm font-light text-stone-700"
      >
        <Content />
      </div>
    </section>

    <ExternalResources workId={item.id} links={item.data.links} />

    <CtaBanner
      title="Let's create something amazing together"
      description="Inspired by this project? I'm always excited to collaborate on new creative challenges. Whether you need a similar solution or something completely different, let's discuss how we can bring your vision to life."
      buttonText="Start a conversation"
      pricingText="See pricing"
    />
  </article>
</MainLayout>
