---
import { Picture } from "astro:assets";
import Img1 from "../../assets/images/landing-photo-grid/1.jpg";
import Img10 from "../../assets/images/landing-photo-grid/10.jpg";
import Img2 from "../../assets/images/landing-photo-grid/2.jpg";
import Img3 from "../../assets/images/landing-photo-grid/3.jpg";
import Img4 from "../../assets/images/landing-photo-grid/4.jpg";
import Img5 from "../../assets/images/landing-photo-grid/5.jpg";
import Img6 from "../../assets/images/landing-photo-grid/6.jpg";
import Img7 from "../../assets/images/landing-photo-grid/7.jpg";
import Img8 from "../../assets/images/landing-photo-grid/8.jpg";
import Img9 from "../../assets/images/landing-photo-grid/9.jpg";

const translations = {
  en: {
    photo_grid: "Photo grid showcasing various subjects and locations",
    photo_details: "Photo details:",
  },
  sv: {
    photo_grid: "Fotogalleri som visar olika motiv och platser",
    photo_details: "Foto detaljer:",
  },
};

const images = [
  {
    src: Img1,
    alt: {
      en: "Swedish singer, Cimberly Wanyonyi",
      sv: "Svensk sångerska, Cimberly Wanyonyi",
    },
    specs: "ISO 1250, 1/100s, f/5.6",
    hoverColor: "#777777",
    colSpan: "sm:col-span-2",
  },
  {
    src: Img2,
    alt: {
      en: "Employee of the Swedish government agency, Diskrimineringsombudsmannen",
      sv: "Anställd på den svenska myndigheten Diskrimineringsombudsmannen",
    },
    specs: "ISO 1250, 1/80s, f/6.3",
    hoverColor: "#c37b2f",
    colSpan: "sm:col-span-1",
  },
  {
    src: Img3,
    alt: {
      en: "A young cinematographer, Tim Svanborg",
      sv: "En ung filmfotograf, Tim Svanborg",
    },
    specs: "ISO 6400, 1/1250s, f/5.6",
    hoverColor: "#d86640",
    colSpan: "",
  },
  {
    src: Img4,
    alt: {
      en: "A lead singer at the Swedish concert, Attentatfest Umeå",
      sv: "En sångerska på den svenska konserten, Attentatfest Umeå",
    },
    specs: "ISO 12800, 1/320s, f/5.6",
    hoverColor: "#1f221a",
    colSpan: "sm:col-span-2",
  },
  {
    src: Img5,
    alt: {
      en: "Skellefteå river from the city center",
      sv: "Skellefteå älv från stadens centrum",
    },
    specs: "ISO 640, 1/50s, f/5.6",
    hoverColor: "#a31e27",
    colSpan: "sm:col-span-3",
  },
  {
    src: Img6,
    alt: {
      en: "People dancing at the nightclub Cinco",
      sv: "Människor som dansar på nattklubben Cinco",
    },
    specs: "ISO 25000, 1/125s, f/4.0",
    hoverColor: "#005afe",
    colSpan: "",
  },
  {
    src: Img7,
    alt: {
      en: "A man at a stall on Skellefteå square",
      sv: "En man vid ett stånd på Skellefteås torg",
    },
    specs: "ISO 500, 1/100s, f/5.0",
    hoverColor: "#c05629",
    colSpan: "sm:col-span-2",
  },
  {
    src: Img8,
    alt: {
      en: "Skellefteå skyline from Sara Kulturhus",
      sv: "Skellefteås horisont från Sara Kulturhus",
    },
    specs: "ISO 100, 1/6s, f/22.0",
    hoverColor: "#d68059",
    colSpan: "sm:col-span-2",
  },
  {
    src: Img9,
    alt: {
      en: "A group of people on the street in Skellefteå",
      sv: "En grupp människor på gatan i Skellefteå",
    },
    specs: "ISO 1250, 1/160s, f/5.0",
    hoverColor: "#3b3b3b",
    colSpan: "",
  },
  {
    src: Img10,
    alt: {
      en: "The skyline of Härnösand from Vårdkasberget",
      sv: "Härnösands horisont från Vårdkasberget",
    },
    specs: "ISO 100, 1/320s, f/4.0",
    hoverColor: "#70581d",
    colSpan: "sm:col-span-3",
  },
];
---

<section
  class="grid gap-2 sm:grid-cols-3"
  aria-label={translations[Astro.currentLocale].photo_grid}
>
  {
    images.map((image, index) => (
      <article
        class={`group ${image.colSpan} transition hover:-translate-y-1 active:-translate-y-1`}
        aria-labelledby={`image-${index}-title`}
      >
        <div class="relative h-72 w-full" style={`--border-color: ${image.hoverColor}`}>
          <Picture
            src={image.src}
            alt={image.alt[Astro.currentLocale]}
            widths={[320, 480, 640, 768, 1024]}
            formats={["avif", "webp", "jpeg"]}
            sizes="(max-width: 640px) 100vw, (max-width: 1024px) 50vw, 33vw"
            class="h-full w-full rounded-lg border-2 border-stone-300 object-cover transition select-none group-hover:border-[var(--border-color)] group-hover:drop-shadow-lg group-active:border-[var(--border-color)] group-active:drop-shadow-lg"
            role="img"
            aria-labelledby={`image-${index}-title`}
          />
          <time
            class="absolute bottom-4 left-4 z-10 rounded-full border border-stone-500 bg-amber-50 px-2 py-1 text-xs font-light text-stone-700 transition group-hover:border-[var(--border-color)] group-hover:text-[var(--border-color)] group-active:border-[var(--border-color)] group-active:text-[var(--border-color)] selection:bg-[var(--border-color)] selection:text-[color-mix(in_oklab,var(--border-color),white_70%)]"
            id={`image-${index}-title`}
            aria-label={`${translations[Astro.currentLocale].photo_details} ${image.specs}`}
          >
            {image.specs}
          </time>
        </div>
      </article>
    ))
  }
</section>
